:root {
  --swiper-theme-color: white;
  --swiper-pagination-bullet-size: 10px;
}

@font-face {
  font-family: 'Bebas';
   src: url('../Fonts/BebasNeue-Bold.otf') format('opentype'), url('../Fonts/BebasNeue-Bold.ttf') format('truetype');
   font-weight: 700;
}

@font-face {
  font-family: 'Bebas';
  src: url('../Fonts/BebasNeue-Regular.otf') format('opentype'), url('../Fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Bebas';
  src: url('../Fonts/BebasNeue-Light.otf') format('opentype'), url('../Fonts/BebasNeue-Light.ttf') format('truetype');
  font-weight: 300;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/*==================== Nav ====================*/

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #08A8F0;
  height: 8vh;
  width: 100vw;
  z-index: 99;
}

.navigator img {
  width: 48px;
  height: 24px;
}

.nav-list {
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  position: absolute;
  left: 0;
  margin-left: 10px;

  width: 45px;
  height: 45px;

  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  border-radius: .5rem;
  transition: 0.3s;

}
/*==================== Nav animations ====================*/
@media (max-width: 999px) {
 
  .nav-list {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 40vw;
    height: 10000px;
    background: #08A8F0;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    gap: 6.25rem;
    transform: translateX(-250%);
    transition: transform 0.5s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu div.active {
  background-color: #0071C9;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-10px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

/*==================== Banner ====================*/

.banner__section {
  margin-top: 5.3vh;
  height: 200px;
}

.swiper-slide img {
  height: 200px;
  width: 100vw;
}

/* swiper customization */
.swiper-pagination-bullet {
  border: 1px solid black;
}

/*==================== MAIN ====================*/
/*==================== SHOPPING ====================*/
.shopping__section {
  margin-top: 2rem;
  text-align: center;
}

.shopping__section h1 {
  font-size: 24px;
  font-family: 'Bebas', sans-serif;
  font-weight: 700;
  color: #005794;
}

.shoppings {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.shopping {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #08A8F0;
  color: white;
  max-width: 160px;

  padding: 30px 10px 15px;

}

.shopping img {
  margin-bottom: 10px;
}

.online img {
  width: 60px;
  height: 42px;
}

.in-person img {
  width: 27px;
  height: 42px;
}

.shopping h3 {
  font-family: 'Bebas';
  font-size: 14px;
}

.shopping p {
  font-family: 'Poppins', sans-serif;
  font-size: 7px;
  margin-bottom: 20px;
}

.shopping div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #F00879;
  border-radius: 3px;
  width: 50px;
  height: 16px;
}

.shopping div a {
  font-family: 'Bebas';
  font-size: 10px;
}
/*==================== buttons prev/next ====================*/
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-icon {
  font-size: 2rem;
  color: white;
}

.swiper-button-prev {
  left: -.5rem;
}

.swiper-button-next {
  right: -.5rem;
}
/*==================== ENCARTE ====================*/

.encarte__section {
  display: flex;
  justify-content: center;
  background-color: #08A8F0;
  margin-top: 10px;
  height: 1000px;
}

.encarte__section2 {
  width: 80vw;
}

.encarte__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 117px;
  height: 140px;
  
}

.swiper-slide-active {
  padding-left: 1.5rem;
}

.swiper-slide-next {
  padding-right: 1.5rem;
}

.encarte__bg {
  background-color: white;
}

.encarte-img {
  width: 60px !important;
  height: 90px !important;
}

.encarte__data {
  background-color: #F00879;
  color: white;
  padding: 5px 10px 10px 5px;
}

.product__title {
  font-size: 8px;
}

.product__cod {
  font-size: 4px;
}

/* .encarte__section {
  display: block;
  background-color: #08A8F0;

  margin-top: 2rem;
  height: 40rem;
}

.encarte__section h1 {
  font-family: 'Bebas';
  font-size: 24px;
  text-align: center;
  color: white;
  padding-top: 2rem;
}

.mySwiper-dois {
  width: 90vw;
}

.mySwiper-dois .swiper-pagination {
  display: none;
}

.swiper-wrapper {
  width: 100px !important; 
}

.slide-1 {
  margin-left: 50px;
  width: 100px !important; 
}

.swiper-slide {
  width: 100px !important;
}

.encarte-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: fit-content;
  background-color: white;
}

.encarte-item img {
  width: 56px;
  height: 75px;
}

.encarte-item div {
  background-color: #EF009B;
  width: 76px;
  padding: 5px 5px 10px 5px;
  color: white;
}

.encarte-item div h4 {
  font-family: 'Bebas';
  font-size: 8px;
  display: block;
}

.encarte-item div span {
  font-family: 'Bebas';
  font-size: 4px;
  display: block;
} */
